{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Обновления Статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" value="{{ post.title }}" class="form-control"><br>
        <textarea name="intro" id="intro" class="form-control">{{ post.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control">{{ post.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}
